<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="com.zzu.sqlconfig.dao.ExcuteSqlMapper">
    <resultMap id="SqlTable" type="com.zzu.sqlconfig.entity.SqlTable">
        <id column="sn" property="SN" jdbcType="INTEGER"/>
        <result column="sql_code" property="SQL_CODE" jdbcType="VARCHAR"/>
        <result column="sql" property="SQL" jdbcType="VARCHAR"/>
        <result column="sql_function" property="SQL_FUNCTION" jdbcType="VARCHAR"/>
        <result column="create_time" property="CREATE_TIME" jdbcType="VARCHAR"/>
        <result column="update_time" property="UPDATE_TIME" jdbcType="VARCHAR"/>
        <result column="params" property="PARAMS" jdbcType="VARCHAR"/>
        <collection property="PARAMS_LIST"
                    javaType="java.util.List"
                    ofType="com.zzu.sqlconfig.entity.Param"
                    column="sn"
                    select="com.zzu.sqlconfig.dao.ParamMapper.selectParams"
                    fetchType="eager">
            <id column="sn" property="SN" jdbcType="INTEGER"/>
            <result column="sqltable_sn" property="SQLTABLE_SN" jdbcType="VARCHAR" />
            <result column="rq_rt" property="RQ_RT" jdbcType="INTEGER" />
            <result column="param_name" property="PARAM_NAME" jdbcType="VARCHAR"/>
            <result column="param_type" property="PARAM_TYPE" jdbcType="VARCHAR"/>
            <result column="param_function" property="PARAM_FUNCTION" jdbcType="VARCHAR"/>
            <result column="notes" property="NOTES" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <!-- sql:里面可以写入一个共同的sql代码，用于提取重复的代码。
        要使用该代码的时候就直接使用<include>标签
        id:为提取的sql代码，取一个id，起标识作用
         -->
    <sql id="select">
		select *
		from sqltable
	</sql>

    <sql id="sqlTableAndParam">
        s.sn,
        s.sql,
        s.sql_code,
        s.sql_function,
        s.create_time,
        s.update_time,
        s.params,
        p.sn,
        p.sqltable_sn,
        p.rq_rt,
        p.param_name,
        p.param_type,
        p.param_function,
        p.notes
    </sql>

    <!-- public User findUserById(int id);
        id:填写在XxxMapper接口中的方法名
        parameterType:填写参数的类型
        resultType:填写方法中返回值的类型，不用写全路径，不区分大小写
    -->
    <select id="selectAllSql" parameterType="String" resultMap="SqlTable">
        select s.*,p.*
        from sqltable s
        left join param p
        on s.sn = p.sqltable_sn
    </select>

    <select id="selectSql" parameterType="String" resultMap="SqlTable">
        select
        s.*,p.*
        from sqltable s
        left join param p
        on s.sn = p.sqltable_sn
        where s.sql_code = #{SQL_CODE}
    </select>

</mapper>
