<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="com.zzu.sqlconfig.dao.ParamMapper">

    <resultMap id="ParamMap" type="com.zzu.sqlconfig.entity.Param">
        <id column="sn" property="SN"/>
        <result column="sqltable_sn" property="SQLTABLE_SN"/>
        <result column="rq_rt" property="RQ_RT"/>
        <result column="param_name" property="PARAM_NAME"/>
        <result column="param_type" property="PARAM_TYPE"/>
        <result column="param_function" property="PARAM_FUNCTION"/>
        <result column="notes" property="NOTES"/>
    </resultMap>

    <sql id="select">
		select *
		from param
	</sql>

    <select id="selectParams" parameterType="String" resultMap="ParamMap">
        <include refid="select"></include>
    </select>

</mapper>
