<?xml version="1.0" encoding="utf-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 指定日志的输出格式 -->
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p]  -  %l  -  %m%n"/>
        </Console>
        <RollingFile name="RollingFileInfo" fileName="G:/springLog/info.log" filePattern="G:/springLog/$${date:yyyy-MM}/info-%d{yyyy-MM-dd} -%i.log">
            <Filters>
                <ThresholdFilter level="INFO"/>
            </Filters>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="info">
            <!--  控制台输出  -->
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileInfo"/>
        </root>
    </loggers>
</configuration>
